<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#d74f57;">
    <a class="mx-auto" routerLink='/home' style="text-decoration: none;">
        <h4 style="color: white; font-weight:bold">MyTripApp</h4>
    </a>

    <!-- COLLAPSE -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>